body {
    background-image: url("../img/background.jpg");
    background-color: #000; 
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100%,
}

.logo {
    height: 200px;
}


/*Nav*/

.mainTable {
    border: 1px white solid;
    width: 500px;
    height: 250px;
    text-align: center;
}

td {
    border: 1px white solid;
    color: white;
    width: 250px;
    height: 250px;
}


.NES_nav {
    display: flex;
    justify-content: center;
    width: 100%
}

td img {
    height: 100%;
    width: 100%;
}

/*NES*/

.NES-header {
    background-image: url("../img/NES_nav.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
} 

.NES-nav-list {
    display: flex;
    align-items: stretch;
    margin: 0;
}

.NES-nav-list-item {
    background-color: #000;
    width: 100px;
    list-style: none;
    text-align: center;
    padding: 5px;
    background-color: red;
    color: white;
    margin: 0 10px;
}

.NES-nav-list-item:hover {
    background-color: black;
    color: red;
}

main {
    display: flex;
    color: white;
}

aside {
    width: 30%;
    margin: 5px;
}

.NES-console-img {
    border: 1px white solid;
    width: 100%;
}

.NES-funFacts {
    border: 1px white solid;
    text-align: center;
}

.NES-funFacts-header {
    text-decoration: underline solid white;
}

.NES-main-content {
    border: 1px white solid;
    width: 70%;
    margin: 5px;
}
