body {
    background-image: url("../img/background.jpg");
    background-color: #000; 
    padding: 0;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100%,
}

.logo {
    height: 200px;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

/*Nav*/

.nav {
    display: flex;
    justify-content: center;
}

.mainTable {
    border: 1px white solid;
    width: 500px;
    height: 250px;
    text-align: center;
}

td {
    border: 1px white solid;
    color: white;
    width: 250px;
    height: 250px;
}


td img {
    height: 100%;
    width: 100%;
}

.gc__header {
    border: 2px solid white;
    margin: 0;
}